h1 {
  text-align: center;
  font-family: comfortaa;
}
h2 {
  text-align: center;
  font-family: comfortaa;
}
P.audio {
  text-align: center;
}
P.img {
    text-align: center;
  font-family: comfortaa;
   }

